{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body style="background-color: #1f2833 ;">

<div class="auth-page-container" id="authPageContainer">
	<div class="auth-form-container signup-form-section">
		<form method="post" action="{% url 'users:login_signup' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="signup">
            <h1>Create Account</h1>

            {% for field in signup_form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% for error in field.errors %}
                        <div class="error">{{ error }}

                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <button type="submit">Sign Up</button>
        </form>
	</div>
	<div class="auth-form-container signin-form-section">
		<form method="post" action="{% url 'users:login_signup' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="login">
            <h1>Sign in</h1>
            {% for field in login_form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% for error in field.errors %}
                        <div class="error">{{ error }}

                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Sign In</button>
        </form>
	</div>
	<div class="auth-overlay-container">
		<div class="form-overlay">
			<div class="form-overlay-panel form-overlay-panel-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn" onclick="setCurrentForm('login')">Sign In</button>
			</div>
			<div class="form-overlay-panel form-overlay-panel-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="transparent-button" id="signUp" onclick="setCurrentForm('signup')">Sign Up</button>
			</div>
		</div>
	</div>
</div>




<script src="{% static 'js/login.js' %}"></script>
</body>
</html>